<style type="text/css">
	.footerd { text-decoration : none; color : #eee;}
	.footerd:hover {color: #808080; text-decoration : none;}
</style>

<div style="background-color: black; bottom:0;">
	<div class='container pt-4 pb-1' style="font-size: 14px; text-align: center;">
		<div class="row text-light">
			<!-- <div class="col-md-2">
				<div class="mb-4" style="font-size: 16px;">
					Products
				</div>

				<a href="#">CodeScreen</a><br>

			</div>
			<div class="col-md-2">
				<div class="mb-4" style="font-size: 16px;">
					Customers
				</div>

				<a href="#">CodeScreen</a><br>
			</div>
			<div class="col-md-2">
				<div class="mb-4" style="font-size: 16px;">
					Resources
				</div>

				<a href="#">CodeScreen</a><br>
			</div>
			<div class="col-md-2">
				<div class="mb-4" style="font-size: 16px;">
					Blog
				</div>

				<a href="#">CodeScreen</a><br>
			</div> -->
<!--			<div class="col-md-6 mb-4">-->
<!--				<p class="mb-4"><a href="/homepage/about_us" style="font-size: 32px; color:white">About Us</a></p>-->
<!--				<p class="mb-2"><a href="#" class="footerd">Company</a><br></p>-->
<!--				<p class="mb-2"><a href="#" class="footerd">Careers</a><br></p>-->
<!--				<p class="mb-2"><a href="#" class="footerd">Our Team</a><br></p>-->

<!--			</div>-->
			<div class="col-md-12 mb-4">
				
				<p id="contact" class="mb-4"><a style="font-size: 32px; color:white">Contact Us</a></p>
				<p class="mb-2"><a href="tel:+18328334663" class="footerd">+1 832 833 4663</a><br></p>
				<p class="mb-2"><a href="mailto:adi@zerotocareer.com" class="footerd">Email</a><br></p>
				<!-- <div class="mb-2">
					<a href="#">Our Team</a><br>
				</div> -->
			</div>
		</div>
	
		<p class="text-center mt-4" style="color: white; font-size: 15px">&copy;Mindset Inc. All Rights Reserved.</p>
	</div>
</div>