<nav class="navbar navbar-dark bg-dark navbar-expand-md navbar-fixed-top" style="margin-bottom: 0px">
	<a class="navbar-brand" href="/" style="font-size: 4vh; padding:0px;">MindSet</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbar1" style="color:white">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a href="/homepage/about_us" class="nav-link" style="font-size: 2vh;">About Us</a></li>
			<li class="nav-item"><a href="/homepage/#mission" class="nav-link" style="font-size: 2vh;">Mission</a></li>
			<li class="nav-item"><a href="/taskpage" class="nav-link" style="font-size: 2vh;">Try it yourself</a></li>
			<li class="nav-item"><a href="/homepage/contact" class="nav-link" style="font-size: 2vh;">Contact</a></li>
		</ul>
	</div>
</nav>